.cursor-pointer{
  cursor: pointer;
}

table tr .btn-delete {
  display: none;
}

table tr:hover .btn-delete {
  display: block;
}

.sort-asc, .sort-desc {
  position: relative;
}

th.text-right.sort-asc, th.text-right.sort-desc {
  padding-right: 35px;
}

.sort-asc::after {
  content: "↑";
  position: absolute;
  right: 15px;
}

.sort-desc::after {
  content: "↓";
  position: absolute;
  right: 15px;
}